USE [master]
GO
/****** Object:  Database [Covid-19]    Script Date: 1/9/2022 7:48:17 PM ******/
CREATE DATABASE [Covid-19]
GO

USE [Covid-19]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 1/9/2022 7:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [varchar](30) NOT NULL,
	[PASSWORD] [varchar](150) NULL,
	[ROLE] [varchar](10) NOT NULL,
	[USERID] [varchar](10) NULL,
	[ACTIVATED] [int] NULL,
	[DATEPUBLISHED] [datetime] NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account_Bank]    Script Date: 1/9/2022 7:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Bank](
	[ID] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](150) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[Active] [int] NULL,
	[Balance] [float] NULL,
	[UserID] [nvarchar](20) NULL,
	[DATEPUBLISHED] [datetime] NULL,
 CONSTRAINT [PK_Account_Bank] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNTHISTORY]    Script Date: 1/9/2022 7:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTHISTORY](
	[USERNAME] [varchar](30) NOT NULL,
	[RECORD_LOGIN] [datetime] NOT NULL,
	[RECORD_LOGOUT] [datetime] NOT NULL,
 CONSTRAINT [PK_ACCOUNTHISTORY] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC,
	[RECORD_LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 1/9/2022 7:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[BankID] [nvarchar](30) NOT NULL,
	[CCCD] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[BankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANAGEDPERSON]    Script Date: 1/9/2022 7:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANAGEDPERSON](
	[ID] [varchar](10) NOT NULL,
	[FULLNAME] [nvarchar](100) NULL,
	[YEAROFBIRTH] [int] NULL,
	[ADDRESS] [nvarchar](150) NULL,
	[STATUS] [nvarchar](20) NULL,
	[TREATMENT] [varchar](10) NULL,
	[DEBT] [float] NULL,
 CONSTRAINT [PK_MANAGEDPERSON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANAGEHISTORY]    Script Date: 1/9/2022 7:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANAGEHISTORY](
	[ID] [varchar](10) NOT NULL,
	[FROMSTATUS] [nvarchar](20) NOT NULL,
	[TOSTATUS] [nvarchar](20) NOT NULL,
	[RECORD] [datetime] NOT NULL,
 CONSTRAINT [PK_MANAGEHISTORY_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[FROMSTATUS] ASC,
	[RECORD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACKAGE]    Script Date: 1/9/2022 7:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACKAGE](
	[ID] [varchar](10) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[LIMITNUM] [int] NULL,
	[LIMITTIME] [date] NULL,
	[PRICE] [float] NOT NULL,
	[QUANTITY] [int] NOT NULL,
 CONSTRAINT [PK_PACKAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACKAGEREGISTER]    Script Date: 1/9/2022 7:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACKAGEREGISTER](
	[PERSONID] [varchar](10) NOT NULL,
	[PACKAGEID] [varchar](10) NOT NULL,
	[RECORD] [datetime] NOT NULL,
	[QUANTITY] [int] NOT NULL,
 CONSTRAINT [PK_PACKAGEREGISTER] PRIMARY KEY CLUSTERED 
(
	[PERSONID] ASC,
	[PACKAGEID] ASC,
	[RECORD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RELATED]    Script Date: 1/9/2022 7:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RELATED](
	[PERSON_ID1] [varchar](10) NOT NULL,
	[PERSON_ID2] [varchar](10) NOT NULL,
	[RECORD] [datetime] NOT NULL,
 CONSTRAINT [PK_RELATED] PRIMARY KEY CLUSTERED 
(
	[PERSON_ID1] ASC,
	[PERSON_ID2] ASC,
	[RECORD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 1/9/2022 7:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[Customer_ID] [nvarchar](30) NOT NULL,
	[money] [float] NOT NULL,
	[Content_] [nvarchar](50) NULL,
	[Record] [datetime] NOT NULL,
 CONSTRAINT [PK_Transaction_1] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC,
	[Record] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREATMENTPLACE]    Script Date: 1/9/2022 7:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREATMENTPLACE](
	[ID] [varchar](10) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[CAPACITY] [int] NULL,
	[QUANTITY] [int] NULL,
 CONSTRAINT [PK_TREATMENTPLACE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [ROLE], [USERID], [ACTIVATED], [DATEPUBLISHED]) VALUES (N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'ADMIN', NULL, 1, CAST(N'2021-01-01T00:01:00.000' AS DateTime))
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [ROLE], [USERID], [ACTIVATED], [DATEPUBLISHED]) VALUES (N'htkha19', N'430f710c03d9755b1b3e7b1a55eba710d17c5c0b4983d01e81f1bbb5649d744f', N'Manager', NULL, 1, CAST(N'2021-01-05T12:31:00.000' AS DateTime))
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [ROLE], [USERID], [ACTIVATED], [DATEPUBLISHED]) VALUES (N'lqtrong19', N'cc5172eeacfe86618b6c13084879f2518aa7c8a922e0958daa030777f4f566ea', N'Manager', NULL, 1, CAST(N'2021-01-05T12:32:00.000' AS DateTime))
GO
INSERT [dbo].[ACCOUNTHISTORY] ([USERNAME], [RECORD_LOGIN], [RECORD_LOGOUT]) VALUES (N'admin', CAST(N'2021-10-20T05:00:00.000' AS DateTime), CAST(N'2021-10-20T06:00:00.000' AS DateTime))
INSERT [dbo].[ACCOUNTHISTORY] ([USERNAME], [RECORD_LOGIN], [RECORD_LOGOUT]) VALUES (N'admin', CAST(N'2021-10-22T05:00:00.000' AS DateTime), CAST(N'2021-10-22T06:00:00.000' AS DateTime))
INSERT [dbo].[ACCOUNTHISTORY] ([USERNAME], [RECORD_LOGIN], [RECORD_LOGOUT]) VALUES (N'admin', CAST(N'2021-11-15T05:00:00.000' AS DateTime), CAST(N'2021-11-16T06:00:00.000' AS DateTime))
GO
INSERT [dbo].[MANAGEDPERSON] ([ID], [FULLNAME], [YEAROFBIRTH], [ADDRESS], [STATUS], [TREATMENT], [DEBT]) VALUES (N'1', N'Nguyễn Văn A', 2001, N'Bến Nghé, Q1, TPHCM', N'F0', N'2', 800)
INSERT [dbo].[MANAGEDPERSON] ([ID], [FULLNAME], [YEAROFBIRTH], [ADDRESS], [STATUS], [TREATMENT], [DEBT]) VALUES (N'10', N'Huỳnh Linh ', 1999, N'35 Nguyễn Văn Cừ, Phường 1, Quận 5, TP Hồ Chí Minh', N'F3', N'3', 0)
INSERT [dbo].[MANAGEDPERSON] ([ID], [FULLNAME], [YEAROFBIRTH], [ADDRESS], [STATUS], [TREATMENT], [DEBT]) VALUES (N'11', N'Lưu Tề ', 1978, N'Thôn Cô Bắc, Cô Giang, Lý Sơn, Quảng Ngãi', N'F4', N'2', 0)
GO
INSERT [dbo].[MANAGEHISTORY] ([ID], [FROMSTATUS], [TOSTATUS], [RECORD]) VALUES (N'1', N'F1', N'F0', CAST(N'2021-11-27T15:00:00.000' AS DateTime))
INSERT [dbo].[MANAGEHISTORY] ([ID], [FROMSTATUS], [TOSTATUS], [RECORD]) VALUES (N'1', N'F2', N'F1', CAST(N'2021-11-22T15:00:00.000' AS DateTime))
INSERT [dbo].[MANAGEHISTORY] ([ID], [FROMSTATUS], [TOSTATUS], [RECORD]) VALUES (N'1', N'F3', N'F2', CAST(N'2021-11-15T15:00:00.000' AS DateTime))
GO
INSERT [dbo].[PACKAGE] ([ID], [NAME], [LIMITNUM], [LIMITTIME], [PRICE], [QUANTITY]) VALUES (N'1', N'Gói hỗ trợ lần 2', 20, CAST(N'2022-02-14' AS Date), 500, 57)
INSERT [dbo].[PACKAGE] ([ID], [NAME], [LIMITNUM], [LIMITTIME], [PRICE], [QUANTITY]) VALUES (N'10', N'Gói hỗ trợ cho người dân TPHCM lần 1', 5, CAST(N'2022-02-26' AS Date), 2500, 100)
INSERT [dbo].[PACKAGE] ([ID], [NAME], [LIMITNUM], [LIMITTIME], [PRICE], [QUANTITY]) VALUES (N'11', N'Gói hỗ trợ cho người dân TPHCM lần 2', 5, CAST(N'2022-03-31' AS Date), 3000, 1000)
GO
INSERT [dbo].[PACKAGEREGISTER] ([PERSONID], [PACKAGEID], [RECORD], [QUANTITY]) VALUES (N'1', N'1', CAST(N'2021-11-27T00:00:00.000' AS DateTime), 20)
INSERT [dbo].[PACKAGEREGISTER] ([PERSONID], [PACKAGEID], [RECORD], [QUANTITY]) VALUES (N'1', N'1', CAST(N'2021-11-27T11:00:00.000' AS DateTime), 10)
INSERT [dbo].[PACKAGEREGISTER] ([PERSONID], [PACKAGEID], [RECORD], [QUANTITY]) VALUES (N'1', N'2', CAST(N'2021-11-27T11:00:00.000' AS DateTime), 10)
GO
INSERT [dbo].[RELATED] ([PERSON_ID1], [PERSON_ID2], [RECORD]) VALUES (N'1', N'2', CAST(N'2022-01-09T00:00:00.000' AS DateTime))
INSERT [dbo].[RELATED] ([PERSON_ID1], [PERSON_ID2], [RECORD]) VALUES (N'11', N'2', CAST(N'2022-01-09T21:00:32.000' AS DateTime))
INSERT [dbo].[RELATED] ([PERSON_ID1], [PERSON_ID2], [RECORD]) VALUES (N'11', N'3', CAST(N'2022-01-09T21:00:32.000' AS DateTime))
GO
INSERT [dbo].[TREATMENTPLACE] ([ID], [NAME], [CAPACITY], [QUANTITY]) VALUES (N'1', N'Bệnh viện 115', 200, 1)
INSERT [dbo].[TREATMENTPLACE] ([ID], [NAME], [CAPACITY], [QUANTITY]) VALUES (N'2', N'Bệnh viện dã chiến TPHCM', 250, 6)
INSERT [dbo].[TREATMENTPLACE] ([ID], [NAME], [CAPACITY], [QUANTITY]) VALUES (N'3', N'Trung tâm GDQP', 250, 2)
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT ((1)) FOR [ACTIVATED]
GO
ALTER TABLE [dbo].[Account_Bank] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[MANAGEDPERSON] ADD  DEFAULT ((0)) FOR [DEBT]
GO
ALTER TABLE [dbo].[TREATMENTPLACE] ADD  DEFAULT ((0)) FOR [QUANTITY]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_MANAGEDPERSON] FOREIGN KEY([USERID])
REFERENCES [dbo].[MANAGEDPERSON] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_MANAGEDPERSON]
GO
ALTER TABLE [dbo].[ACCOUNTHISTORY]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNTHISTORY_ACCOUNT] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[ACCOUNT] ([USERNAME])
GO
ALTER TABLE [dbo].[ACCOUNTHISTORY] CHECK CONSTRAINT [FK_ACCOUNTHISTORY_ACCOUNT]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account_Bank] FOREIGN KEY([BankID])
REFERENCES [dbo].[Account_Bank] ([ID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Account_Bank]
GO
ALTER TABLE [dbo].[MANAGEDPERSON]  WITH CHECK ADD  CONSTRAINT [FK_MANAGEDPERSON_TREATMENTPLACE1] FOREIGN KEY([TREATMENT])
REFERENCES [dbo].[TREATMENTPLACE] ([ID])
GO
ALTER TABLE [dbo].[MANAGEDPERSON] CHECK CONSTRAINT [FK_MANAGEDPERSON_TREATMENTPLACE1]
GO
ALTER TABLE [dbo].[MANAGEHISTORY]  WITH CHECK ADD  CONSTRAINT [FK_MANAGEHISTORY_MANAGEDPERSON1] FOREIGN KEY([ID])
REFERENCES [dbo].[MANAGEDPERSON] ([ID])
GO
ALTER TABLE [dbo].[MANAGEHISTORY] CHECK CONSTRAINT [FK_MANAGEHISTORY_MANAGEDPERSON1]
GO
ALTER TABLE [dbo].[PACKAGEREGISTER]  WITH CHECK ADD  CONSTRAINT [FK_PACKAGEREGISTER_MANAGEDPERSON1] FOREIGN KEY([PERSONID])
REFERENCES [dbo].[MANAGEDPERSON] ([ID])
GO
ALTER TABLE [dbo].[PACKAGEREGISTER] CHECK CONSTRAINT [FK_PACKAGEREGISTER_MANAGEDPERSON1]
GO
ALTER TABLE [dbo].[PACKAGEREGISTER]  WITH CHECK ADD  CONSTRAINT [FK_PACKAGEREGISTER_PACKAGE1] FOREIGN KEY([PACKAGEID])
REFERENCES [dbo].[PACKAGE] ([ID])
GO
ALTER TABLE [dbo].[PACKAGEREGISTER] CHECK CONSTRAINT [FK_PACKAGEREGISTER_PACKAGE1]
GO
ALTER TABLE [dbo].[RELATED]  WITH CHECK ADD  CONSTRAINT [FK_RELATED_MANAGEDPERSON2] FOREIGN KEY([PERSON_ID1])
REFERENCES [dbo].[MANAGEDPERSON] ([ID])
GO
ALTER TABLE [dbo].[RELATED] CHECK CONSTRAINT [FK_RELATED_MANAGEDPERSON2]
GO
ALTER TABLE [dbo].[RELATED]  WITH CHECK ADD  CONSTRAINT [FK_RELATED_MANAGEDPERSON3] FOREIGN KEY([PERSON_ID2])
REFERENCES [dbo].[MANAGEDPERSON] ([ID])
GO
ALTER TABLE [dbo].[RELATED] CHECK CONSTRAINT [FK_RELATED_MANAGEDPERSON3]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Customer1] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([BankID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Customer1]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [CK_ACCOUNT_ACTIVATED] CHECK  (([ACTIVATED]=(1) OR [ACTIVATED]=(0)))
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [CK_ACCOUNT_ACTIVATED]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [CK_ACCOUNT_ROLE] CHECK  (([ROLE]='ADMIN' OR [ROLE]='MANAGER' OR [ROLE]='USER'))
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [CK_ACCOUNT_ROLE]
GO
ALTER TABLE [dbo].[Account_Bank]  WITH CHECK ADD  CONSTRAINT [CK_Account_Bank] CHECK  (([Role]=N'Admin' OR [Role]='User' OR [Role]='Manager'))
GO
ALTER TABLE [dbo].[Account_Bank] CHECK CONSTRAINT [CK_Account_Bank]
GO
ALTER TABLE [dbo].[MANAGEDPERSON]  WITH CHECK ADD  CONSTRAINT [CK_MANAGEDPERSON_STATUS] CHECK  (([STATUS]=N'KHỎI BỆNH' OR [STATUS]=N'F0' OR [STATUS]=N'F1' OR [STATUS]=N'F2' OR [STATUS]=N'F3' OR [STATUS]=N'F4' OR [STATUS]=N'F5'))
GO
ALTER TABLE [dbo].[MANAGEDPERSON] CHECK CONSTRAINT [CK_MANAGEDPERSON_STATUS]
GO
ALTER TABLE [dbo].[MANAGEHISTORY]  WITH CHECK ADD  CONSTRAINT [CK_MANAGEHISTORY_FROMSTATUS] CHECK  (([FROMSTATUS]=N'KHỎI BỆNH' OR [FROMSTATUS]=N'F0' OR [FROMSTATUS]=N'F1' OR [FROMSTATUS]=N'F2' OR [FROMSTATUS]=N'F3' OR [FROMSTATUS]=N'F4' OR [FROMSTATUS]=N'F5'))
GO
ALTER TABLE [dbo].[MANAGEHISTORY] CHECK CONSTRAINT [CK_MANAGEHISTORY_FROMSTATUS]
GO
ALTER TABLE [dbo].[MANAGEHISTORY]  WITH CHECK ADD  CONSTRAINT [CK_MANAGEHISTORY_TOSTATUS] CHECK  (([TOSTATUS]=N'KHỎI BỆNH' OR [TOSTATUS]=N'F0' OR [TOSTATUS]=N'F1' OR [TOSTATUS]=N'F2' OR [TOSTATUS]=N'F3' OR [TOSTATUS]=N'F4' OR [TOSTATUS]=N'F5'))
GO
ALTER TABLE [dbo].[MANAGEHISTORY] CHECK CONSTRAINT [CK_MANAGEHISTORY_TOSTATUS]
GO
USE [master]
GO
